/* /includes/layouts/themes/srs.css - theme for serious text */
:root {
  --main-bg-color: #e6e6e6;
  --text: #111;
  --heading: #36492e;
  --link: #4c9ae9;
  --link-visited: #430b92;
  --font: 'serif';
}