/* /includes/layouts/themes/srs.css - theme for serious text */
html[data-theme='theme-srs'] {
  --main-bg-color: #e6e6e6;
  --text: #111;
  --heading: #130c05;
  --link: #0257ac;
  --link-visited: #541d92;
  --heading-font: 'Playfair display', 'serif';
  --body-font: 'Alegreya Sans', 'sans serif';
  font-optical-sizing: auto;
}

html[data-theme='theme-srs'] p,
html[data-theme='theme-srs'] li {
  font-weight: 400;
}

html[data-theme='theme-srs'] h1,
html[data-theme='theme-srs'] h2,
html[data-theme='theme-srs'] h3,
html[data-theme='theme-srs'] h4,
html[data-theme='theme-srs'] h5,
html[data-theme='theme-srs'] h6 {
  font-weight: 500;
  text-transform: capitalize;
}


html[data-theme='theme-srs'] a {
  text-decoration: none;
  text-shadow: none;
}



html[data-theme='theme-srs'] a:link {
  color: var(--link);
}


html[data-theme='theme-srs'] a:visited {
  color: var(--link-visited);
}